@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');
@font-face {
    font-family: 'android' ;
    src: url(../fontes/idroid.otf); 
    font-weight: normal;}
    


:root{
    --cor0: #c5ebd6; /*Variáveis de cor*/
    --cor1: #83e1ad; /*Variáveis de cor*/ 
    --cor2:#3ddc84; /*Variáveis de cor*/
    --cor3:#2fa866; /*Variáveis de cor*/
    --cor4:#1a5c37; /*Variáveis de cor*/
    --cor5:#063d1e; /*Variáveis de cor*/
    --fonte-padrao: Arial, verdana, Helvetica; /*Variáveis de fonte*/
    --fonte-destaque:'Bebas Neue', cursiva;/*Variáveis de fonte*/
    --fonte-android:'android' , cursive; /*Variáveis de fonte*/
}

    *{margin: 0px;
    padding: 0px;} /*Margem e espaçamentos zerados*/

a.externo::after {
    content:'\00A0\1F517' ;
}
    

 

    body{background-color:var(--cor0);
    font-family: var(--fonte-padrao);}

    header{background-image: linear-gradient(to bottom,var(--cor3),var(--cor5)) ;/*Mescla de duas ou mais imagens de fundo*/
    min-height: 150px; /*Tamanho da altura*/
    text-align: center;/*Texto Centralizado*/
    padding-top: 40px;/*Propriedade abreviada para definir valores para a espessura da área de preenchimento.*/
    }


    header > h1 {color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: rgba(0, 0, 0, 0.315);
    font-weight: normal;}

    header > p {color: white;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;/*Tamanho da fonte*/
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    }

nav {
    background-color:var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);/*Sombra*/
    

}
nav > a {
    color:var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:0ms;
    
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main img {
    width: 100%;
}
main img.pequena {
    max-width: 350%;
    display: block;
    margin: auto;/*Centralizar*/

}


main{
    background-color: white;
    min-width:300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.404); /*Sombra*/
    border-bottom-left-radius: 10px;  /*borda arredondada*/
    border-bottom-right-radius: 10px;/*borda arredondada*/


    }


main h1 {color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;}


main h2 {font-family: var(--fonte-android);
         color: var(--cor4); 
         font-size: 1.3em;
         background-image: -o-linear-gradient(to rigth, --cor1);      
}

main p { 
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;

    }
main strong{
    color: var(--cor4);
    font-weight:bold ;
  
} 

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor3);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px;
    padding: 20px;
    background-position: center center;
    
    
   
    
}

div.video >iframe{
    left: 100%;
    
   
   
    
   

    
    
    
}

aside {
    background-color:var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
    
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 5px;
    margin: -5px -5px -0px -5px;
    border-radius: 5px;
}

aside > ul {
    list-style-type: '\2714\00A0';/*marcação de check na lista mas config de espaço*/
    list-style-position: inside;
    columns: 2;

}

footer{background-color:var(--cor3);
    color: white; 
    text-align:center;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 5px;
    }
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;

}   
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}


