@charset "UTF-8";

body{
    background-color: rgb(217, 232, 245);
}

h1{
    color: rgb(27, 88, 27);
}

h1#principal{
    text-align: center;
    background-color: darkgreen;
    color: white;
}

h2{
    color: rgb(4, 58, 4);
    
}
h2.basico {
    text-align: left;
    background-color: rgb(170, 170, 226);
    color: rgb(44, 63, 11);
    font-style: italic;
}
h2.intermediario{
    text-align: left;
    background-color: rgb(212, 132, 148);
    color: bisque;
    font-style: oblique;
}
h2.avancado{
    text-align: left;
    background-color: rgb(230, 222, 179);
    color: coral;
    font-style: initial;
}
.basico{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-display: unset;
}
.destaque{
    background-color: rgba(184, 233, 105, 0.493);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-display: unset;
}